/*
https://coolors.co/f5e3e0-e8b4bc-d282a6-6e4555-3a3238
*/

/* Gloabl styles
--------------------- */
body {
  color: #3A3238;
}

img {
  width: 300px;
}

a {
  color: black;
  background: #bfd3f2;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

a:hover {
  background: rgba(167, 186, 217, 70%)
}

/* Profile
--------------------- */
header {
  background: #6E4555;
  color: #F7FFF7;
  /* text-shadow: 2px 2px 5px #cec5d6; */
}


/* Projects
--------------------- */
.projects {
  background: #F5E3E0;
}


/* Work Experience
--------------------- */
.work-experience {
  background: #E8B4BC;
}


/* Contact Info
--------------------- */
footer {
  background: #343434;
  color: #F7FFF7;
}

.reg-link {
  color: #bfd3f2;
  background: none;
}
.reg-link:hover {
  background: none;
  text-decoration: underline;
}
