/*
https://coolors.co/f5e3e0-e8b4bc-d282a6-6e4555-3a3238
*/

/* Gloabl styles
--------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #3A3038;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  line-height: 150%;
  font-size: 17px;
  background: #fcfcf5;
}

img {
  width: 100px;
}

a {
  color: #3A3238;
  background: #bfd3f2;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  display: inline-block;
}

a:hover {
  background: rgba(167, 186, 217, 70%)
}

h1 {
  font-size: 50px;
  /* text-shadow: 2px 2px 5px #cec5d6; */
}

h2 {
  margin: 0;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.section-header {
  font-size: 35px;
}

/* Profile
--------------------- */
header {
  background: #6E4555;
  color: #FFFFEF;
  /* border-color: #343434;
  border-style: solid;
  border-width: 10px;
  border-radius: 25px; */
}

#self {
  width: 200px;
  border-radius: 30px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

/* Education
--------------------- */
.education {
  background: #FFFFEF;
}

/* Work Experience
--------------------- */
.work-experience {
  background: #F5E3E0;

}

.company {
  display: grid;
  grid-template-columns: 1fr 4fr;
}


/* Projects
--------------------- */
.projects {
  background: #E8B4BC;
}


/* Contact Info
--------------------- */
footer {
  background: #343434;
  color: #FFFFEF;
}

.reg-link {
  color: #bfd3f2;
  background: none;
}
.reg-link:hover {
  background: none;
  text-decoration: underline;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
