/*
https://coolors.co/f5e3e0-e8b4bc-d282a6-6e4555-3a3238
*/

/* Gloabl styles
--------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*  text throughout the page
  - dark brown color
  - sans serif font from Google fonts (refer to link in HTML)
  - Background color irrelevant for now
  - No margin or padding */
body {
  color: #3A3038;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  line-height: 150%;
  font-size: 17px;
  background: #fcfcf5;
}

/* Represents all company/school logos */
img {
  width: 100px;
}

/* Default links on the page are designed to look like buttons
  - Dark brown color
  - Periwinkel background */
a {
  color: #3A3238;
  background: #bfd3f2;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  display: inline-block;
}

/* When button links are clicked, background should get slightly lighter */
a:hover {
  background: rgba(167, 186, 217, 70%)
}

/* Main header on top with my name */
h1 {
  font-size: 50px;
}

/* Section headers */
h2 {
  margin: 0;
}

/* Wraps each section to position it correctly */
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

/* All the h2s that are section headers (excludes about sectiion)*/
.section-header {
  font-size: 35px;
}

/* Profile
--------------------- */
/* About section */
header {
  background: #6E4555;
  color: #FFFFEF;
  /* border-color: #343434;
  border-style: solid;
  border-width: 10px;
  border-radius: 25px; */
}

/* Image of myself */
#self {
  width: 200px;
  border-radius: 30px;
}


/* Education
--------------------- */
.education {
  background: #FFFFEF;
}

/* Work Experience
--------------------- */
.work-experience {
  background: #F5E3E0;

}


/* Projects
--------------------- */
.projects {
  background: #E8B4BC;
}


/* Contact Info
--------------------- */
footer {
  background: #343434;
  color: #FFFFEF;
}

/* Non button looking links */
.reg-link {
  color: #bfd3f2;
  background: none;
}

/* Non button looking links should underline when hovered on */
.reg-link:hover {
  background: none;
  text-decoration: underline;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

/* Responsive
--------------------- */
@media screen and (min-width: 750px){
  #self {
    width: 200px;
    border-radius: 30px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
  }

  /* Uses grids to place logos and company name side by side */
  .company {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .contact-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 749px) {
  #self {
    margin-top: 30px;
  }
  h1 {
    font-size: 40px;
    line-height: 0.9;
  }

  h2 {
    line-height: 1.1;
  }

  .contact-list a {
    padding: 5px;
  }
}
